# Sample configuration for weebtv-viewer
# Rename this file over to config.py and edit for your needs

# Directory of the static files
static_dir = '/path/to/weebtv-viewer/static'

# WeebTV credentials
weebtv_credentials = {
    'username': 'your@weebtv.email',
    'password': 'yourpassword',
}

# Hostname the rtmpgw will be accessed on
rtmpgw_host = 'localhost'

# rtmpgw path
rtmpgw_bin = '/usr/sbin/rtmpgw'
